<section class="static-area pl-3 pr-3">
  <article>
    <h1>The Nomo FOMO Story</h1>
    <p>While in Bogota, two travel enthusiasts who just finished Remote Year were talking about how hard it was to keep track of their friend's and family's travels.  Between the number of people who were traveling as digital nomads and others who lived abroad, there was no tool that allowed them to coordinate this information.  From this, the idea of Nomo FOMO came about as the tool that allows you to keep track of your personal travel as well as your friends' travel plans so you can meet up with each other and continue to travel together as much as possible.  Of course, they didn't stop there, but continued to focus on other pain points in fellow travelers experiences to build out your ultimate travel network.</p>
    <h2>The Captains</h2>

    <div class="container">
      <div class="row">
        <div class="col">
          <div id="jeff">
            <img src="https://s3.us-east-2.amazonaws.com/nomofomo-assets/static/images/employees/jeff.jpg" alt="Jeffrey Walsh - Founder &amp; CEO" width="200px" />
            <h5>Jeffrey Walsh</h5>
            <p>Founder &amp; CEO</p>
          </div>
        </div>
        <div class="col">
          <div id="adelaida">
            <img src="https://s3.us-east-2.amazonaws.com/nomofomo-assets/static/images/employees/adelaida.jpg" alt="Adelaida Diaz-Roa - Founder &amp; COO" width="200px" />
            <h5>Adelaida Diaz-Roa</h5>
            <p>Founder &amp; COO</p>
          </div>
        </div>
      </div>
    </div>

    <h2>What We Do</h2>
    <p>Nomo FOMO helps connect people online so that they can meet up offline, where the real magic happens.  We help you avoid missed meet up opportunities of getting FOMO (fear of missing out) on an amazing trip or business networking connection while also helping make all aspects of travel as easy and convenient as possible.</p>
    <p>We believe that no matter what the purpose of your trip is, we want to give you the tools to be engaged with your network and be as private or public about your travels as possible.  This is why we focus on travel and only travel.  Here it is about helping spark that creativity around the next trip whether it is figuring out how to maximize your next business trip so you can spend less time on the road per year or planning a dream trip based off of other people's past iteneraries, either way we give you the encouragement and tools to make it possible.</p>
    <p>So stop reading about us and sign up so you can always be in the know of who you will be crossing paths with as well as be part of the user base that is helping us build your ultimate travel network!</p>
    <p>Interested in being part of the team? We aren't hiring right now but always are looking for driven travel enthusiasts.  Reach out to us at jobs@nomo-fomo.com and let us know why you are interested as well as what you would like to do and we'll get back to you.</p>
  </article>
</section>
