<section class="static-area pl-3 pr-3">
   <article>      
      <h1>Privacy Policy</h1>
      <h3><strong>1. WE UNDERSTAND PRIVACY IS IMPORTANT</strong></h3>
      <p><span style="font-weight: 400;">First, we would like to thank you for using our site. &nbsp;We believe your privacy is important and have tried to cover all areas that we can. &nbsp;We are open to criticism and if you have any thoughts please reach out to us at </span><span style="font-weight: 400;">legal@nomo-fomo.com</span></p>
      <p>&nbsp;</p>
      <h3><strong>2. WHERE THIS PRIVACY POLICY APPLIES</strong></h3>
      <p><span style="font-weight: 400;">This Privacy Policy applies to websites, apps, events and other services operated by Nomo FOMO, Inc.. For simplicity, we refer to all of these as our &ldquo;services&rdquo; in this Privacy Policy. &nbsp;</span></p>
      <p>&nbsp;</p>
      <h3><strong>3. INFORMATION WE COLLECT</strong></h3>
      <p><span style="font-weight: 400;">It goes without saying, we can&rsquo;t help you develop meaningful connections without some information about you, such as basic profile details, your trips and your friends. We also collect information generated as you use our services, for example access logs, as well as information from third parties, like when you access our services through a social media account. If you want additional info, we go into more detail below.</span></p>
      <h4><strong><em>Information you give us</em></strong></h4>
      <p><span style="font-weight: 400;">You choose to give us certain information when using our services. This includes:</span></p>
      <ul style="list-style-position: inside; list-style-type:circle">
         <li style="font-weight: 400;"><span style="font-weight: 400;">When you create an account, you provide us with at least your login credentials, as well as some basic details necessary for the service to work, such as your name, location, gender and date of birth.</span></li>
         <li style="font-weight: 400;"><span style="font-weight: 400;">When you complete your profile, you can share with us additional information, such as details on your personality, lifestyle, interests and other details about you, as well as content such as photos and videos. To add certain content, like pictures or videos, you may allow us to access your camera or photo album. Some of the information you choose to provide us may be considered &ldquo;special&rdquo; or &ldquo;sensitive&rdquo; in certain jurisdictions, for example your racial or ethnic origins, sexual orientation and religious beliefs. By choosing to provide this information, you consent to our processing of that information.</span></li>
         <li style="font-weight: 400;"><span style="font-weight: 400;">When you participate in surveys or focus groups, you give us your insights into our products and services, responses to our questions and testimonials.</span></li>
         <li style="font-weight: 400;"><span style="font-weight: 400;">When you import your contacts, you provide us with your connection to this contact and the information you have stored or is provided by the method of import (e.g. facebook would include but not be limited to the information requested such as name, age and their picture)</span></li>
         <li style="font-weight: 400;"><span style="font-weight: 400;">You may input emergency contact details and government-issued identification numbers needed for travel, such as your passport or driver license number. This information helps you to keep your itinerary and travel information in one place. </span></li>
         <li style="font-weight: 400;"><span style="font-weight: 400;">If you wish to receive alerts via text messages, you must provide your mobile phone number.</span></li>
         <li style="font-weight: 400;"><span style="font-weight: 400;">When you add a trip, we collect your travel details which can include but is not limited to trip name, description, dates, location, accommodations, events, trips, people attending and their related details. &nbsp;</span></li>
         <li style="font-weight: 400;"><span style="font-weight: 400;">When you choose to participate in our promotions, events or contests, we collect the information that you use to register or enter.</span></li>
         <li style="font-weight: 400;"><span style="font-weight: 400;">If you contact our customer care team, we collect the information you give us during the interaction. Sometimes, we monitor or record these interactions for training purposes and to ensure a high quality of service.</span></li>
         <li style="font-weight: 400;"><span style="font-weight: 400;">If you ask us to communicate with or otherwise process information of other people (for example, if you ask us to send an email on your behalf to one of your friends), we collect the information about others that you give us in order to complete your request.</span></li>
         <li style="font-weight: 400;"><span style="font-weight: 400;">Of course, we also process your chats with other users as well as the content you publish, as part of the operation of the services.</span></li>
      </ul>
      <h4><strong><em>Information we receive from others</em></strong></h4>
      <p><span style="font-weight: 400;">In addition to the information you provide us directly, we receive information about you from others, including:</span></p>
      <ul style="list-style-position: inside; list-style-type:circle">
         <li style="font-weight: 400;"><strong>Other Users</strong></li>
         <li style="font-weight: 400;"><span style="font-weight: 400;">Other users may provide information about you as they use our services. For instance, we may collect information about you from other users if they contact us about you.</span></li>
         <li style="font-weight: 400;"><strong>Social Media</strong></li>
         <li style="font-weight: 400;"><span style="font-weight: 400;">You may be able to use your social media login (such as Facebook Login) to create and log into your Nomo FOMO account. This saves you from having to remember yet another user name and password and allows you to share some information from your social media account with us.</span></li>
         <li style="font-weight: 400;"><strong>Other Partners</strong></li>
         <li style="font-weight: 400;"><span style="font-weight: 400;">We may receive info about you from our partners, for instance where Nomo FOMO ads are published on a partner&rsquo;s websites and platforms (in which case they may pass along details on a campaign&rsquo;s success).</span></li>
      </ul>
      <h4><strong><em>Information collected when you use our services</em></strong></h4>
      <p><span style="font-weight: 400;">When you use our services, we collect information about which features you&rsquo;ve used, how you&rsquo;ve used them and the devices you use to access our services. See below for more details:</span></p>
      <ul style="list-style-position: inside; list-style-type:circle">
      <li style="font-weight: 400;"><strong>Usage Information</strong></li>
      <li style="font-weight: 400;"><span style="font-weight: 400;">We collect information about your activity on our services, for instance how you use them (e.g., date and time you logged in, features you&rsquo;ve been using, searches, number of trips created, clicks and pages which have been shown to you, referring webpage address, advertising that you click on) and how you interact with other users (e.g., users you connect and interact with, time and date of your exchanges, number of trips you are on with them, number of messages you send and receive).</span></li>
      <li style="font-weight: 400;"><strong>Device information</strong></li>
      <li style="font-weight: 400;"><span style="font-weight: 400;">We collect information from and about the device(s) you use to access our services, including:</span></li>
      <ul style="list-style-position: inside; list-style-type:circle">
         <li style="font-weight: 400;"><span style="font-weight: 400;">hardware and software information such as IP address, device ID and type, device-specific and apps settings and characteristics, app crashes, advertising IDs (such as Google&rsquo;s AAID and Apple's IDFA, both of which are randomly generated numbers that you can reset by going into your device&rsquo; settings), browser type, version and language, operating system, time zones, identifiers associated with cookies or other technologies that may uniquely identify your device or browser (e.g., IMEI/UDID and MAC address);</span></li>
         <li style="font-weight: 400;"><span style="font-weight: 400;">information on your wireless and mobile network connection, like your service provider and signal strength;</span></li>
         <li style="font-weight: 400;"><span style="font-weight: 400;">information on device sensors such as accelerometers, gyroscopes and compasses.</span></li>
      </ul>
      <ul style="list-style-position: inside; list-style-type:circle">
         <li style="font-weight: 400;"><strong>Other information with your consent</strong></li>
         <li style="font-weight: 400;"><span style="font-weight: 400;">If you give us permission, we can collect your precise geolocation (latitude and longitude) through various means, depending on the service and device you&rsquo;re using, including GPS, Bluetooth or Wi-Fi connections. The collection of your geolocation may occur in the background even when you aren&rsquo;t using the services if the permission you gave us expressly permits such collection. If you decline permission for us to collect your geolocation, we will not collect it.</span></li>
         <li style="font-weight: 400;"><span style="font-weight: 400;">Similarly, if you consent, we may collect your photos and videos (for instance, if you want to publish a photo, video or streaming on the services).</span></li>
      </ul>
      <p>&nbsp;</p>
      <h3><strong>4. COOKIES AND OTHER SIMILAR DATA COLLECTION TECHNOLOGIES</strong></h3>
      <p><span style="font-weight: 400;">We use and may allow others to use cookies and similar technologies (e.g., web beacons, pixels) to recognize you and/or your device(s) as well as other services (such as authenticating you, remembering your preferences and settings, analyzing site traffic and trends, delivering and measuring the effectiveness of advertising campaigns, allowing you to use social features) &nbsp;</span></p>
      <p><span style="font-weight: 400;">Some web browsers (including Safari, Internet Explorer, Firefox and Chrome) have a &ldquo;Do Not Track&rdquo; (&ldquo;</span><strong>DNT</strong><span style="font-weight: 400;">&rdquo;) feature that tells a website that a user does not want to have his or her online activity tracked. If a website that responds to a DNT signal receives a DNT signal, the browser can block that website from collecting certain information about the browser&rsquo;s user. Not all browsers offer a DNT option and DNT signals are not yet uniform. For this reason, many businesses, including Nomo FOMO, may not respond to DNT signals.</span></p>
      <p><span style="font-weight: 400;">Some examples of Cookies we use but are not limited to are:</span></p>
      <p><strong>Google&trade; Cookies</strong><strong><br /></strong><strong><br /></strong><span style="font-weight: 400;">Stuff Google Wants to Make Sure You Know about Google&rsquo;s Data Collection Technology</span><span style="font-weight: 400;"><br /></span><span style="font-weight: 400;"><br /></span><strong>Google&trade; Maps API</strong><span style="font-weight: 400;"><br /></span><span style="font-weight: 400;"><br /></span><span style="font-weight: 400;">Some features of our website and some Nomo FOMO services rely on the use of Google&trade; Maps API Cookies. Such cookies will be stored on your device.</span><span style="font-weight: 400;"><br /></span><span style="font-weight: 400;"><br /></span><span style="font-weight: 400;">When browsing this website and using the services relying on Google&trade; Maps API cookies, you consent to the storage, collection of such cookies on your device and to the access, usage and sharing by Google of the data collected thereby.</span><span style="font-weight: 400;"><br /></span><span style="font-weight: 400;"><br /></span><span style="font-weight: 400;">Google&trade; manages the information and your choices pertaining to Google&trade; Maps API Cookies via an interface separate from that supplied by your browser. For more information, please see https://www.google.com/policies/technologies/cookies/.</span><span style="font-weight: 400;"><br /></span><span style="font-weight: 400;"><br /></span><strong>Google Analytics</strong><span style="font-weight: 400;"><br /></span><span style="font-weight: 400;"><br /></span><span style="font-weight: 400;">We use Google Analytics, which is a Google service that uses cookies and other data collection technologies to collect information about your use of the website and services in order to report website trends.</span><span style="font-weight: 400;"><br /></span><span style="font-weight: 400;"><br /></span><span style="font-weight: 400;">You can opt out of Google Analytics by visiting www.google.com/settings/ads or by downloading the Google Analytics opt-out browser add-on at </span><a href="https://tools.google.com/dlpage/gaoptout"><span style="font-weight: 400;">https://tools.google.com/dlpage/gaoptout</span></a><span style="font-weight: 400;">.</span></p>
      <p><strong>Social Cookies</strong><span style="font-weight: 400;"><br /></span><span style="font-weight: 400;"><br /></span><span style="font-weight: 400;">To allow you to share content on social media, some features of this website use social media plug-ins (e.g., Twitter&trade; &ldquo;Share to Twitter&rdquo; or LinkedIn&trade; &ldquo;in&rdquo; buttons). Depending on your social media account settings, we automatically receive information from the social media platform when you use the corresponding button on our website.</span><span style="font-weight: 400;"><br /></span><span style="font-weight: 400;"><br /></span><span style="font-weight: 400;">To learn more about social media cookies, we suggest you refer to your social media platform&rsquo;s cookie policy and privacy policy.</span></p>
      <p>&nbsp;</p>
      <h3><strong>5. HOW WE USE INFORMATION</strong></h3>
      <p><span style="font-weight: 400;">The main reason we use your information is to deliver and improve our services. Additionally, we use your info to help keep you safe and to provide you with advertising that may be of interest to you. Read on for a more detailed explanation of the various reasons we use your information, together with practical examples.</span></p>
      <p>&nbsp;</p>
      <h4><strong><em>To administer your account and provide our services to you</em></strong></h4>
      <ul style="list-style-position: inside; list-style-type:circle">
         <li style="font-weight: 400;"><span style="font-weight: 400;">Create and manage your account</span></li>
         <li style="font-weight: 400;"><span style="font-weight: 400;">Provide you with customer support and respond to your requests</span></li>
         <li style="font-weight: 400;"><span style="font-weight: 400;">Complete your transactions</span></li>
         <li style="font-weight: 400;"><span style="font-weight: 400;">Communicate with you about our services</span></li>
         <li style="font-weight: 400;"><span style="font-weight: 400;">Creating and maintaining your travel itineraries and your profile and otherwise providing, operating, hosting, maintaining, connecting, and improving the Nomo FOMO Services.</span><span style="font-weight: 400;"><br /><br /></span></li>
      </ul>
      <h4><strong><em>To help you connect with other users</em></strong></h4>
      <ul style="list-style-position: inside; list-style-type:circle">
         <li style="font-weight: 400;"><span style="font-weight: 400;">Analyze your profile and that of other users to recommend meaningful connections</span></li>
         <li style="font-weight: 400;"><span style="font-weight: 400;">Show users&rsquo; profiles to one another</span></li>
         <li style="font-weight: 400;"><span style="font-weight: 400;">Share trip details with one another</span></li>
      </ul>
      <h4><strong><em>To ensure a consistent experience across your devices</em></strong></h4>
      <ul style="list-style-position: inside; list-style-type:circle">
         <li style="font-weight: 400;"><span style="font-weight: 400;">Link the various devices you use so that you can enjoy a consistent experience of our services on all of them. We do this by linking devices and browser data, such as when you log into your account on different devices or by using partial or full IP address, browser version and similar data about your devices to help identify and link them.</span></li>
      </ul>
      <h4><strong><em>To provide new Nomo FOMO services to you</em></strong></h4>
      <ul style="list-style-position: inside; list-style-type:circle">
         <li style="font-weight: 400;"><span style="font-weight: 400;">Register you and display your profile on new Nomo FOMO features and apps</span></li>
         <li style="font-weight: 400;"><span style="font-weight: 400;">Administer your account on these new features and apps</span></li>
         <li style="font-weight: 400;"><span style="font-weight: 400;">Updating you on new features and functionality of services, as well as other news and information about products and services offered by Nomo FOMO and our selected partners.</span></li>
         <li style="font-weight: 400;"><span style="font-weight: 400;">Providing you information via email or another form of electronic notification related to your use, requests, and purchases, such as transaction confirmations, invoices, technical notices, and other notices about security, privacy, and administrative issues relating to your use of the Nomo FOMO Services.</span><span style="font-weight: 400;"><br /><br /></span></li>
      </ul>
      <h4><strong><em>To serve you relevant offers and ads</em></strong></h4>
      <ul style="list-style-position: inside; list-style-type:circle">
         <li style="font-weight: 400;"><span style="font-weight: 400;">Administer sweepstakes, contests, discounts or other offers</span></li>
         <li style="font-weight: 400;"><span style="font-weight: 400;">Develop, display and track content and advertising tailored to your interests on our services and other sites</span></li>
         <li style="font-weight: 400;"><span style="font-weight: 400;">Communicate with you by email, phone, social media or mobile device about products or services that we think may interest you</span></li>
      </ul>
      <h4><strong><em>To improve our services and develop new ones</em></strong></h4>
      <ul style="list-style-position: inside; list-style-type:circle">
         <li style="font-weight: 400;"><span style="font-weight: 400;">Administer focus groups and surveys</span></li>
         <li style="font-weight: 400;"><span style="font-weight: 400;">Conduct research and analysis of users&rsquo; behavior to improve our services and content (for instance, we may decide to change the look and feel or even substantially modify a given feature based on users&rsquo; behavior)</span></li>
         <li style="font-weight: 400;"><span style="font-weight: 400;">Develop new features and services (for example, we may decide to build a new interests-based feature further to requests received from users).</span></li>
      </ul>
      <h4><strong><em>To prevent, detect and fight fraud or other illegal or unauthorized activities</em></strong></h4>
      <ul style="list-style-position: inside; list-style-type:circle">
         <li style="font-weight: 400;"><span style="font-weight: 400;">Address ongoing or alleged misbehavior on and off-platform</span></li>
         <li style="font-weight: 400;"><span style="font-weight: 400;">Perform data analysis to better understand and design countermeasures against these activities</span></li>
         <li style="font-weight: 400;"><span style="font-weight: 400;">Retain data related to fraudulent activities to prevent against recurrences</span></li>
      </ul>
      <h4><strong><em>To ensure legal compliance</em></strong></h4>
      <ul style="list-style-position: inside; list-style-type:circle">
         <li style="font-weight: 400;"><span style="font-weight: 400;">Comply with legal requirements</span></li>
         <li style="font-weight: 400;"><span style="font-weight: 400;">Assist law enforcement</span></li>
         <li style="font-weight: 400;"><span style="font-weight: 400;">Enforce or exercise our rights, for example our Terms</span></li>
      </ul>
      <p><span style="font-weight: 400;">To process your information as described above, we rely on the following legal bases:</span></p>
      <ul style="list-style-position: inside; list-style-type:circle">
         <li style="font-weight: 400;"><em><span style="font-weight: 400;">Provide our service to you:</span></em><span style="font-weight: 400;"> Most of the time, the reason we process your information is to perform the contract that you have with us. For instance, as you go about using our service to build meaningful connections, we use your information to maintain your account and your profile, to make it viewable to other users and recommend other users to you.</span></li>
         <li style="font-weight: 400;"><em><span style="font-weight: 400;">Legitimate interests:</span></em><span style="font-weight: 400;"> We may use your information where we have legitimate interests to do so. For instance, we analyze users&rsquo; behavior on our services to continuously improve our offerings, we suggest offers we think might interest you, and we process information for administrative, fraud detection and other legal purposes.</span></li>
         <li style="font-weight: 400;"><em><span style="font-weight: 400;">Consent:</span></em><span style="font-weight: 400;"> From time to time, we may ask for your consent to use your information for certain specific reasons. You may withdraw your consent at any time by contacting us at the address provided at the end of this Privacy Policy.</span></li>
      </ul>
      <p>&nbsp;</p>
      <h3><strong>6. HOW WE SHARE INFORMATION</strong></h3>
      <p><span style="font-weight: 400;">Since our goal is to help you make meaningful connections, the main sharing of users&rsquo; information is, of course, with other users. We also share some users&rsquo; information with service providers and partners who assist us in operating the services, and in some cases, legal authorities. Read on for more details about how your information is shared with others.</span></p>
      <h4><strong>With other users</strong></h4>
      <ul style="list-style-position: inside; list-style-type:circle">
         <li style="font-weight: 400;"><span style="font-weight: 400;">You share information with other users (and in the case of any sharing features available on Nomo FOMO, the individuals or apps with whom a Nomo FOMO user may choose to share you with) when you voluntarily disclose information on the service (including your public profile). Please be careful with your information and make sure that the content you share is stuff that you&rsquo;re comfortable being publically viewable since neither you nor we can control what others do with your information once you share it.</span></li>
         <li style="font-weight: 400;"><span style="font-weight: 400;">If you choose to limit the audience for all or part of your profile or for certain content or information about you, then it will be visible according to your settings.</span></li>
      </ul>
      <h4><strong>With our service providers and partners</strong></h4>
      <ul style="list-style-position: inside; list-style-type:circle">
         <li style="font-weight: 400;"><span style="font-weight: 400;">We use third parties to help us operate and improve our services. These third parties assist us with various tasks, including data hosting and maintenance, analytics, customer care, marketing, advertising, payment processing and security operations.</span></li>
         <li style="font-weight: 400;"><span style="font-weight: 400;">We may also share information with partners who distribute and assist us in advertising our services. For instance, we may share limited information on you in hashed, non-human readable form to advertising partners.</span></li>
         <li style="font-weight: 400;"><span style="font-weight: 400;">We follow a strict vetting process prior to engaging any service provider or working with any partner. All of our service providers and partners must agree to strict confidentiality obligations.</span></li>
      </ul>
      <h4><strong>For corporate transactions</strong></h4>
      <ul style="list-style-position: inside; list-style-type:circle">
         <li style="font-weight: 400;"><span style="font-weight: 400;">We may transfer your information if we are involved, whether in whole or in part, in a merger, sale, acquisition, divestiture, restructuring, reorganization, dissolution, bankruptcy or other change of ownership or control.</span></li>
      </ul>
      <h4><strong>When required by law</strong></h4>
      <ul style="list-style-position: inside; list-style-type:circle">
         <li style="font-weight: 400;"><span style="font-weight: 400;">We may disclose your information if reasonably necessary: (i) to comply with a legal process, such as a court order, subpoena or search warrant, government / law enforcement investigation or other legal requirements; (ii) to assist in the prevention or detection of crime (subject in each case to applicable law); or (iii) to protect the safety of any person.</span></li>
      </ul>
      <h4><strong>To enforce legal rights</strong></h4>
      <ul style="list-style-position: inside; list-style-type:circle">
         <li style="font-weight: 400;"><span style="font-weight: 400;">We may also share information: (i) if disclosure would mitigate our liability in an actual or threatened lawsuit; (ii) as necessary to protect our legal rights and legal rights of our users, business partners or other interested parties; (iii) to enforce our agreements with you; and (iv) to investigate, prevent, or take other action regarding illegal activity, suspected fraud or other wrongdoing.</span></li>
      </ul>
      <h4><strong>With your consent or at your request</strong></h4>
      <ul style="list-style-position: inside; list-style-type:circle">
         <li style="font-weight: 400;"><span style="font-weight: 400;">We may ask for your consent to share your information with third parties. In any such case, we will make it clear why we want to share the information.</span></li>
         <li style="font-weight: 400;"><span style="font-weight: 400;">We may use and share non-personal information (meaning information that, by itself, does not identify who you are such as device information, general demographics, general behavioral data, geolocation in de-identified form), as well as personal information in hashed, non-human readable form, under any of the above circumstances. We may also share this information with third parties (notably advertisers) to develop and deliver targeted advertising on our services and on websites or applications of third parties, and to analyze and report on advertising you see. We may combine this information with additional non-personal information or personal information in hashed, non-human readable form collected from other sources. If you have further questions or want to understand about how cookies are used, please reach out to </span><span style="font-weight: 400;">legal@nomo-fomo.com</span><span style="font-weight: 400;">. &nbsp;</span></li>
      </ul>
      <p>&nbsp;</p>
      <h3><strong>7. CROSS-BORDER DATA TRANSFERS</strong></h3>
      <p><span style="font-weight: 400;">Sharing of information laid out in Section 6 sometimes involves cross-border data transfers, for instance to the United States of America and other jurisdictions. As an example, where the service allows for users to be located in the European Economic Area (&ldquo;EEA&rdquo;), their personal information is transferred to countries outside of the EEA. We use standard contract clauses approved by the European Commission or other suitable safeguard to permit data transfers from the EEA to other countries. Standard contractual clauses are commitments between companies transferring personal data, binding them to protect the privacy and security of your data</span></p>
      <p>&nbsp;</p>
      <h3><strong>8. YOUR RIGHTS</strong></h3>
      <p><span style="font-weight: 400;">We want you to be in control of your information, so we have provided you with the following tools:</span></p>
      <ul style="list-style-position: inside; list-style-type:circle">
         <li style="font-weight: 400;"><span style="font-weight: 400;">Access / Update tools in the service. Tools and account settings that help you to access, rectify or delete information that you provided to us and that&rsquo;s associated with your account directly within the service. If you have any question on those tools and settings, please contact our customer care team for help at </span><span style="font-weight: 400;">accounts@nomo-fomo.com</span></li>
         <li style="font-weight: 400;"><span style="font-weight: 400;">Device permissions. Mobile platforms have permission systems for specific types of device data and notifications, such as phone book and location services as well as push notifications. You can change your settings on your device to either consent or oppose the collection of the corresponding information or the display of the corresponding notifications. Of course, if you do that, certain services may lose full functionality.</span></li>
         <li style="font-weight: 400;"><span style="font-weight: 400;">Deletion. You can delete your account by reaching out to </span><span style="font-weight: 400;">accounts@nomo-fomo.com</span><span style="font-weight: 400;"> and asking for your account to be deleted. &nbsp;&nbsp;&nbsp;</span></li>
      </ul>
      <p><span style="font-weight: 400;">We want you to be aware of your privacy rights. Here are a few key points to remember:</span></p>
      <ul style="list-style-position: inside; list-style-type:circle">
         <li style="font-weight: 400;"><span style="font-weight: 400;">Reviewing your information. Applicable privacy laws may give you the right to review the personal information we keep about you (depending on the jurisdiction, this may be called right of access, right of portability or variations of those terms). You can request a copy of your personal information by putting in such a request to </span><span style="font-weight: 400;">accounts@nomo-fomo.com</span><span style="font-weight: 400;">. &nbsp;</span></li>
         <li style="font-weight: 400;"><span style="font-weight: 400;">Updating your information. If you believe that the information we hold about you is inaccurate or that we are no longer entitled to use it and want to request its rectification, deletion or object to its processing, please contact us </span><span style="font-weight: 400;">accounts@nomo-fomo.com</span></li>
      </ul>
      <p><span style="font-weight: 400;">For your protection and the protection of all of our users, we may ask you to provide proof of identity before we can answer the above requests.</span></p>
      <p><span style="font-weight: 400;">Keep in mind, we may reject requests for certain reasons, including if the request is unlawful or if it may infringe on trade secrets or intellectual property or the privacy of another user. If you wish to receive information relating to another user, such as a copy of any messages you received from him or her through our service, the other user will have to contact our Privacy Officer to provide their written consent before the information is released.</span></p>
      <p><span style="font-weight: 400;">Also, we may not be able to accommodate certain requests to object to the processing of personal information, notably where such requests would not allow us to provide our service to you anymore. For instance, we cannot provide our service if we do not have your date of birth to validate you are of legal age to use Nomo FOMO.</span></p>
      <ul style="list-style-position: inside; list-style-type:circle">
         <li style="font-weight: 400;"><span style="font-weight: 400;">Uninstall. You can stop all information collection by an app by uninstalling it using the standard uninstall process for your device. If you uninstall the app from your mobile device, the unique identifier associated with your device will continue to be stored. If you re-install the application on the same mobile device, we will be able to re-associate this identifier to your previous transactions and activities.</span></li>
         <li style="font-weight: 400;"><span style="font-weight: 400;">Accountability. In certain countries, including in the European Union, you have a right to lodge a complaint with the appropriate data protection authority if you have concerns about how we process your personal information. The data protection authority you can lodge a complaint with notably may be that of your habitual residence, where you work or where we are established.</span></li>
      </ul>
      <p>&nbsp;</p>
      <h3><strong>9. RESIDENTS OF CALIFORNIA</strong></h3>
      <p><span style="font-weight: 400;">If you are a California resident, you can request a notice disclosing the categories of personal information about you that we have shared with third parties for their direct marketing purposes during the preceding calendar year. To request this notice, please submit your request by e-mail to </span><span style="font-weight: 400;">legal@nomo-fomo.com</span><span style="font-weight: 400;"> with details on the account as well as what you are requesting. Please allow 30 days for a response. For your protection and the protection of all of our users, we may ask you to provide proof of identity before we can answer such a request.</span></p>
      <p>&nbsp;</p>
      <h3><strong>10. HOW WE PROTECT YOUR INFORMATION</strong></h3>
      <p><span style="font-weight: 400;">We work hard to protect you from unauthorized access to or alteration, disclosure or destruction of your personal information. As with all technology companies, although we take steps to secure your information, we do not promise, and you should not expect, that your personal information will always remain secure.</span></p>
      <p><span style="font-weight: 400;">We regularly monitor our systems for possible vulnerabilities and attacks and regularly review our information collection, storage and processing practices to update our physical, technical and organizational security measures.</span></p>
      <p><span style="font-weight: 400;">We may suspend your use of all or part of the services without notice if we suspect or detect any breach of security. If you believe that your account or information is no longer secure, please notify us immediately at </span><span style="font-weight: 400;">accounts@nomo-fomo.com</span></p>
      <p><span style="font-weight: 400;">In order to ensure that our systems and your information are protected against unauthorized access, theft and loss, we are looking to implement a bug bounty program. If you would like to help out with it or find any bugs please notify us at </span><span style="font-weight: 400;">bugs@nomo-fomo.com</span><span style="font-weight: 400;">. </span><span style="font-weight: 400;">We appreciate the help making sure this remains a safe and secure place for people to connect while traveling. </span></p>
      <p>&nbsp;</p>
      <h3><strong>11. HOW LONG WE RETAIN YOUR INFORMATION</strong></h3>
      <p><span style="font-weight: 400;">We keep your personal information only as long as we need it for legitimate business purposes (as laid out in Section 5) and as permitted by applicable law. To protect the safety and security of our users on and off our services, we implement a safety retention window of three months following account deletion. During this period, account information will be retained although the account will of course not be visible on the services anymore.</span></p>
      <p><span style="font-weight: 400;">In practice, we delete or anonymize your information upon deletion of your account (following the safety retention window) or after two years of continuous inactivity, unless:</span></p>
      <ol>
         <li style="font-weight: 400;"><span style="font-weight: 400;">we must keep it to comply with applicable law (for instance, some &ldquo;traffic data&rdquo; is kept for one year to comply with statutory data retention obligations);</span></li>
         <li style="font-weight: 400;"><span style="font-weight: 400;">we must keep it to evidence our compliance with applicable law (for instance, records of consents to our Terms, Privacy Policy and other similar consents are kept for five years);</span></li>
         <li style="font-weight: 400;"><span style="font-weight: 400;">there is an outstanding issue, claim or dispute requiring us to keep the relevant information until it is resolved; or</span></li>
         <li style="font-weight: 400;"><span style="font-weight: 400;">the information must be kept for our legitimate business interests, such as fraud prevention and enhancing users' safety and security. For example, information may need to be kept to prevent a user who was banned for unsafe behavior or security incidents from opening a new account.</span></li>
      </ol>
      <p><span style="font-weight: 400;">Keep in mind that even though our systems are designed to carry out data deletion processes according to the above guidelines, we cannot promise that all data will be deleted within a specific time frame due to technical constraints.</span></p>
      <p>&nbsp;</p>
      <h3><strong>12. CHILDREN&rsquo;S PRIVACY</strong></h3>
      <p><span style="font-weight: 400;">Our services are restricted to users who are 18 years of age or older. We do not permit users under the age of 18 on our platform and we do not knowingly collect personal information from anyone under the age of 18. If you suspect that a user is under the age of 18, please let us know at </span><span style="font-weight: 400;">legal@nomo-fomo.com</span></p>
      <p>&nbsp;</p>
      <h3><strong>13. PRIVACY POLICY CHANGES</strong></h3>
      <p><span style="font-weight: 400;">Because we&rsquo;re always looking for new and innovative ways to help you build meaningful connections, this policy may change over time. We will notify you before any material changes take effect so that you have time to review the changes.</span></p>
      <p>&nbsp;</p>
      <h3><strong>14. HOW TO CONTACT US</strong></h3>
      <p><span style="font-weight: 400;">If you have questions about this Privacy Policy, here&rsquo;s how you can reach us: </span><span style="font-weight: 400;">Legal@nomo-fomo.com</span><span style="font-weight: 400;"> or 1 Stokes Ave, Haddon Twp, NJ 08108</span></p>
      <p>&nbsp;</p>
   </article>
</section>