<div class="main-content trips">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 tac">
        <h1>Plan a trip</h1>
      </div>

      <div class="col-sm-6 offset-sm-3 new">
        <%= render 'form' %>
        <div style="margin-bottom: 300px;">
        </div>
      </div>
    </div>
  </div>
</div>
