$white: #fff;
$black: #000;
$blue: #0275d8;
$blue-hover: #108ffd;
$opal: #afc6c1;
$orange: #f15f3e;
$orange-hover: lighten($orange, 5%);
$mockup-blue: #5375a9;
$mockup-blue-hover: lighten($mockup-blue, 5%);
$grey: #808080;

$alabaster: #fafafa;
$alto: #d3d3d3;
$athens-gray: #f6f7f9;
$bizarre: #f2dede;
$blue-ribbon: #053eff;
$bombay: #afb1b8;
$boulder: #777777;
$box-shadow-3: rgba(0, 0, 0, 0.3);
$cardinal: #cb2027;
$cerulean: #0c9ec7;
$chambray: #3b5998;
$cod-gray: #111111;
$concrete: #f2f2f2;
$conifer: #aad450;
$coral-red: #ff3c43;
$deep-cerulean: #0072b1;
$deep-cerulean-hover: lighten($deep-cerulean, 5%);
$dodger-blue: #1a82f7;
$dove-gray: #6d6c6c;
$dusty-gray: #999999;
$french-rose: #ea4c89;
$gable-green: #15282e;
$gable-green-highlight: #1d3640;
$gallery: #ececec;
$genoa: #126567;
$grey: #808080;
$guardsmen-red: #cc0000;
$iron: #d4d7d9;
$jade: #00a478;
$japanese-laurel: #008000;
$java: #22ced2;
$lavender: #e9e9e9;
$light-grey: #f8f8f8;
$linkedin-blue: #0077b5;
$lola: #b1aeb1;
$mercury: #e7e7e7;
$mine-shaft: #333333;
$mystic: #e2eaed;
$nobel: #b5b1b1;
$onahau: #d2f4fe;
$outrageous-orange: #fa5f43;
$oyster-pink: #ebcccc;
$patina: #689187;
$picton-blue: #55acee;
$pickled-blue: #37465d;
$pickled-bluewood: #314459;
$pomegranate: #f74425;
$punch: #dd4b39;
$red: #ff0000;
$rhino: #253950;
$roman: #d9534f;
$rose: #ff0084;
$san-juan: #32506d;
$selago: #f3f1f3;
$silver: #cdcdcd;
$silver-chalice: #aaaaaa;
$shark: #292b2c;
$tangerine: #f35e36;
$tabasco: #b31217;
$thunder: #2f2727;
$tundora: #4a4244;
$vermillion: #ff3a00;
$wedgewood: #517fa4;
$whitesmoke: #f1f1f1;
$background-blue: #344460;
$pickled-bluewood-hover: lighten($pickled-bluewood, 5%);

$black-alpha-01: rgba(0, 0, 0, 0.01);
$black-alpha-1: rgba(0, 0, 0, 0.1);
$black-alpha-2: rgba(0, 0, 0, 0.2);
$black-alpha-25: rgba(0, 0, 0, 0.25);
$black-alpha-3: rgba(0, 0, 0, 0.3);
$black-alpha-4: rgba(0, 0, 0, 0.4);
$black-alpha-5: rgba(0, 0, 0, 0.5);
$black-alpha-6: rgba(0, 0, 0, 0.6);
$black-alpha-7: rgba(0, 0, 0, 0.7);
$black-alpha-8: rgba(0, 0, 0, 0.8);
$black-alpha-9: rgba(0, 0, 0, 0.9);

$white-alpha-25: rgba(255, 255, 255, 0.25);
$white-alpha-5: rgba(255, 255, 255, 0.5);

$facebook-blue: $chambray;
$facebook-blue-hover: lighten($facebook-blue, 10%);

$a-focus: #014c8c;
$activity-background: $pickled-bluewood;
$bg-inverse: #14282d;
$bootstrap-select-background: #3086e4;
$bootstrap-select-hover: #256cb8;
$border-top: #dddddd;
$btn-theme: #2d6167;
$follow-picture-shadow: rgba(255, 0, 0, 0.5);
$nav-profile-background: #2a4148;
$prioritation-picture-shadow: rgba(124, 207, 255, 0.5);
$tint-shadow: rgba(124, 207, 255, 1);
$tint: rgba(124, 207, 255, 0.5);
$unfollow-picture-shadow: rgba(255, 0, 0, 0.5);
$user-name-span: #292b2c;
$user-navbar-item-hover: #174a52;
$form-datepicker1: #ffffff;
$form-datepicker2: #cccccc;
$selected-settings-group: #c7cbce;

$light-grey2: #f7f7f7;
$silver2: #dcdcdc;
$light-grey3: #eee;

$grey-autocomplete: #d4d4d4;

$grey-trip-sections-nav-pills-background: rgba(168, 182, 200, 0.15);
$grey-trip-sections-nav-pills-text: #323b45;
$orange-trip-sections-nav-pills-text: #e26849;
$green-trip-sections-nav-pills-text: #86b8b1;

$grey-nav-pills: #a8b6c8;
