<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title></title>

  <style type="text/css">
  </style>    
</head>
<body style="margin:0; padding:0; background-color:#F2F2F2;">
  <center>
    <table width="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#F2F2F2">
         <tr>   
            <td style="padding: 50px 0 0 20px; background-color: #fff; font-size: 16px;">
              <p><img src="https://s3.us-east-2.amazonaws.com/nomofomo-assets/emails/square-logo+copy.png" alt="Nomo_FOMO_logo" width="42" height="42" align="topright"></p>
              <h2 style="font-size: 30px; font-weight: 700; font-family: 'PT Serif', serif;">Hey <%= @user[:name].split(' ')[0] || 'there' %>,</h2>
              <h3 style="font-weight: 400; font-family: 'PT Serif', serif;">You have received new notifications:</h3>
            </td>
          </tr>
          <tr>
            <td style="padding: 10px 0 50px 20px; background-color: #fff; font-size: 16px;">
              <% @headings.each do |heading| %>
                <% real_heading = heading.gsub("href=", Rails.env == "development" ? "href="+ ENV['HOST_URL'] : "href=http://nomo-fomo.com").html_safe %>
                <p><%= real_heading %></p>
              <% end %>
            </td>
          </tr>
          <tr>
            <td style="text-align: center; padding: 25px 0 0; font-size: 14px;">
              <p style="margin-bottom: 0;">Follow us on <%= link_to "Twitter", 'https://twitter.com/NomoFomo', style: "color: #00aced;" %> and <%= link_to "Facebook", 'https://www.facebook.com/nomofomoapp/', style: "color: #3b5998;" %> to keep up to date on the latest news and info.</p>

              <p style="font-size: 28px; font-weight: 400; font-style: italic; font-family: 'Kaushan Script', cursive; margin-bottom: 0;">The Nomo FOMO Team</p>
              <p><a href="[[UNSUB_LINK_EN]]">Click Here to Unsubscribe</a></p>
            </td>
          </tr>
    </table>
  </center>
</body>
</html>
