<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title></title>

  <style type="text/css">
  </style>    
</head>
<body style="margin:0; padding:0; background-color:#F2F2F2;">
  <center>
    <table width="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#F2F2F2">
                <tr>
                  <td style="padding: 50px; background-color: #fff; font-size: 16px;">
                        <p><img src="https://s3.us-east-2.amazonaws.com/nomofomo-assets/emails/square-logo+copy.png" alt="Nomo_FOMO_logo" width="42" height="42" align="topright"></p>
                    <h2 style="font-size: 22px; font-weight: 700; font-family: 'Roboto', serif;">Hey <%= @waitlist[:name] || 'there' %>!</h2>

                    <p>Looks like your friend joined Nomo FOMO! Thank you for inviting them!!</p>
                    <p>We are excited to notify you that you are one step closer to joining Nomo FOMO, your ultimate travel network. We can't wait to have you join our little tribe!</p>
                    <p><a href="/check_position">Check on your position</a> in line anytime by clicking on "Check Waitlist Position" on the site.</p>
                    <p>You can also share out your referral code to jump to the top of the list! Think you will get on before one of your friends will?</p>
                    <p><a href="#{@waitlist[:referral_link]}"><%= @waitlist[:referral_link]%></a></p>

                    <p style="margin-top: 30px;">Happy Exploring!</p>
                    <p style="font-size: 28px; font-weight: 400; font-style: italic; font-family: 'Kaushan Script', cursive; margin-bottom: 0;">The Nomo FOMO Team</p>
                    <p style="font-style: italic;">Building you your ultimate social travel network</p>
                  </td>
                </tr>
    </table>
  </center>
</body>
</html>