<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title></title>

  <style type="text/css">
  </style>    
</head>
<body style="margin:0; padding:0; background-color:#F2F2F2;">
  <center>
    <table width="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#F2F2F2">
        <tr>
          <td style="padding: 50px; background-color: #fff; font-size: 16px;">
           <p><img src="https://s3.us-east-2.amazonaws.com/nomofomo-assets/emails/square-logo+copy.png" alt="Nomo_FOMO_logo" width="42" height="42" align="topright"></p>

            <h2 style="font-size: 30px; font-weight: 700; font-family: 'Roboto', serif;">The wait is over! Welcome to the community!</h2>

            <p>We are excited to officially invite you to join Nomo FOMO, your ultimate travel network!</p>

            <p>Activate your account below to start enjoying Nomo FOMO today.</p>

            <%= link_to 'Activate Account', new_user_registration_url, { style: 'background-color: #f15f3e; border: none; color: white; padding: 12px 30px; text-align: center; text-decoration: none; display: inline-block; font-size: 16px;', target: :_blank } %>

            <p>We hope you will enjoy using our platform as much as we enjoyed building it for you.</p>

            <p>Let us know what you think in our <a href="https://trello.com/b/ALkK1bMt/nomo-fomo-roadmap?utm_source=automated_email&utm_campaign=feedback_email">feedback forum</a>. We are eager to hear your thoughts and answer your questions.</p>

            <p style="margin-top: 30px;">Happy Exploring!</p>
            <p style="font-size: 28px; font-weight: 400; font-style: italic; font-family: 'Kaushan Script', cursive; margin-bottom: 0;">The Nomo FOMO Team</p>
            <p style="font-style: italic;">Building you your ultimate social travel network</p>

          </td>
        </tr>
    </table>
  </center>
</body>
</html>