<div class="modal" id="videoWalkthroughModal" tabindex="-1" role="dialog" aria-labelledby="videoWalkthrough" aria-hidden="true" data-viewed="<%= current_user.viewed_walkthrough %>">
  <div class="modal-dialog video-container">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Walkthrough</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <iframe width="100%" height="350" src="" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
