<div class="modal" id="create-community" tabindex="-1" role="dialog" aria-labelledby="createCommunity">
  <div class="modal-dialog" role="document">
    <div class="modal-content create-community-content">
      <div class="modal-header create-community-header">
        <h5 class="modal-title" id="create-community-title">Create Community</h5>
        <button type="button" class="close d-flex justify-content-start" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <div class="text-center container">
          <%= render partial: 'communities/create_form' %>
        </div>
      </div>
    </div>
  </div>
</div>
