@font-face {
  font-family: "Cinzel";
  src: url("https://s3.us-east-2.amazonaws.com/nomofomo-assets/fonts/Cinzel/Cinzel-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Cinzel";
  src: url("https://s3.us-east-2.amazonaws.com/nomofomo-assets/fonts/Cinzel/Cinzel-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}


