@font-face {
  font-family: "PT+Serif";
  src: url("https://s3.us-east-2.amazonaws.com/nomofomo-assets/fonts/PT_Serif/PT_Serif-Web-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "PT+Serif";
  src: url("https://s3.us-east-2.amazonaws.com/nomofomo-assets/fonts/PT_Serif/PT_Serif-Web-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

