<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,400italic,700" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=PT+Serif" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <style>
      body { margin: 0; background-color: #ececec; font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 400; color: #333; }
      a { color: #f15f3e; }
    </style>
  </head>
  <body>
    <table width="100%" cellspacing="0" cellpadding="0">
      <tr>
        <td>
          <table width="75%" style="max-width: 764px; margin: 15px auto;" cellspacing="0" cellpadding="0">

            <%= yield %>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
